*{
    padding : 0;
    box-sizing : border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 3px;
    letter-spacing: 0.1px;
    line-break: auto;
}
img{
    border-radius: 50%;
    margin: 10%;
}
.main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    background-color: cyan;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.about{
    margin: 10%;
}
.links{
    height: 20px;
    width: 100%;
    background-color: lightblue;
}
i{
    margin-right: 10px;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100px;
}